# api id and api hash (my.telegram.org)
# required
API_ID='20627039'
API_HASH='16778e88a5e553e9c3daf389436c6c45'

# pyrogram session string (@genstr_robot)
# required
SESSION='AgE6vl8AaUHiIfj8wwa202RwbzeDmvBlM25mG6_mcT3r4I-IEyd_6OrScASe6WmFFll4ijLvgdsaCM_cTB2-cB9CA2gX0yUbXHmR9O51Fva21VwNs_tc5fUoKCItMKlwX-eKpgbi-t-Wj-8Pa-cAJlt4DumlEen5WP_xcjVOmLG0AR17-o5ngrKeY64m-j6kPuRNXz3L4VOiI851YTJC0xbm_BSlWHJV2tRHjEqijQwRyanA3tRMJWoSAX9szHIiZmkXS7IiiGAqF9zJUtbWp1quhZHDzQSitA1w47D_ByU9hG5dWzTh4U5pXPGA0p_ErqKpKbBs0t7sOAQYPlrf2-7_6DnA2QAAAAGnW8D9AA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='7224887692:AAEKEz42rVRjW4dHvaJjM6bpWZb46kaWfcY'

# sudo user ids (separate with space)
# optional
SUDOERS=''

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
